@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<body>
    <img src="https://gearstore.s3.amazonaws.com/titan1.jpg?AWSAccessKeyId=AKIA57VLM4AQJONYMB7F&amp;Expires=1904336816&amp;Signature=5AsQrgYbDlxpE%2FvpTRVx6llFAgg%3D" />
</body>

</html>
