@model GearsStore.ViewModels.GameViewModel
@{
    ViewBag.Title = "ReadOnlyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    @{


        if (Model == null)
        {
            <p>No Game in Store is Found!</p>
        }
        else
        {
            <p>Read Only Page</p>
            <table id="Games" class="table table-bordered table-hover">

                <tbody>

                    @foreach (var game in Model.GameList)
                    {
                    <tr>
                        <td><a href="@Url.RouteUrl("ShowGameDetail", new { action = "GameDetail", controller = "Manage", id = game.Id})"> <img src=@game.GameSnapshotLink alt="Image" height="168" width="208" /></a></td>
                        <!--  create a new route in RouteConfig.cs named ShowGameDetail -->
                        <td>@game.GameName</td>

                    </tr>
                    }
                </tbody>
            </table>
        }


    }
    <!--<img src="https://gearstore.s3.amazonaws.com/titan1.jpg?AWSAccessKeyId=AKIA57VLM4AQJONYMB7F&amp;Expires=1904336816&amp;Signature=5AsQrgYbDlxpE%2FvpTRVx6llFAgg%3D" /> -->

</body>

</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Games").DataTable();
        }

    </script>


}


